<% content_for :title do %>About<% end %>
<h3>About Foobar Kadigan</h3>
<p>Born in a galaxy far away, Foobar has made it his life's work to fight injustic and the exploitation of the less fortunate by forces of evil, wanton greed.</p>
<p>Foobar's favorite quotation is:</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
